<mat-drawer-container class="sidebar-container">
  <div class="image-uploader-bar" (click)="onImageBarClicked(); $event.stopPropagation();">
    <div style="margin-left: 5px; line-height: 1.8em;">
      <b *ngIf="!hidden">Image Uploaded</b>
      <b *ngIf="hidden">IMG&nbsp;</b>
    </div>
    <mat-icon *ngIf="image" style="color: greenyellow;">check_circle</mat-icon>
    <mat-icon *ngIf="!image" color="warn">highlight_off</mat-icon>
  </div>
  <kornia-image-uploader *ngIf="showImageUploader"></kornia-image-uploader>
  <div style="display: flex; justify-content: space-between; padding-top: 3px;">
    <div style="margin-left: 5px; line-height: 1.8em;">
      <b *ngIf="!hidden">Operation Pipeline</b>
      <b *ngIf="hidden">Ops</b>
    </div>
    <mat-icon *ngIf="operationData.length > 0" style="color: greenyellow;">check_circle</mat-icon>
    <mat-icon *ngIf="operationData.length == 0" color="warn">highlight_off</mat-icon>
  </div>

  <div style="display: flex; flex: 1;">
    <div style="flex-grow: 1; width: 400px;" *ngIf="!hidden">
      <div class="expand-sidebar-container">
        <div class="augmentation-container" style="position: relative;">
          <div *ngIf="!isDisplayingCode" class="augmentation-list-container">
            <kornia-operation-list
              style="flex: 1 1 auto; overflow-y: auto; height: 100px;"></kornia-operation-list>
          </div>
          <kornia-action-area
            [disabled]="(operationData.length == 0) || !image || in_computing"></kornia-action-area>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>