<mat-drawer-container class="sidebar-container">
  <div>
    <div class="image-uploader-bar" (click)="onImageBarClicked(); $event.stopPropagation();">
      <div style="margin-left: 5px; line-height: 1.8em;"><b>Image Uploaded</b></div>
      <mat-icon *ngIf="image" style="color: greenyellow;">check_circle</mat-icon>
      <mat-icon *ngIf="!image" color="warn">highlight_off</mat-icon>
    </div>
    <kornia-image-uploader *ngIf="showImageUploader"></kornia-image-uploader>
  </div>

  <div style="display: flex; flex: 1;">
    <kornia-icon-side-bar class="icon-sidebar-container" [defaultItem]="operationType" (itemChanged)="onItemChanged($event)"></kornia-icon-side-bar>
      
    <div style="flex-grow: 1; width: 400px;">
      <div class="expand-sidebar-container" *ngIf="!hidden">
        <div style="display: flex; justify-content: space-between; padding-top: 3px;">
          <div style="margin-left: 5px; line-height: 1.8em;"><b>Augmentation Pipeline</b></div>
          <mat-icon *ngIf="augmentationList.length > 0" style="color: greenyellow;">check_circle</mat-icon>
          <mat-icon *ngIf="augmentationList.length == 0" color="warn">highlight_off</mat-icon>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <div style="padding: 1px 5px; line-height: 0.5em;">
            <mat-icon class="clickable-icon" aria-hidden="false" matTooltip="Clear all" (click)="onClearAll()">clear_all</mat-icon>
          </div>
          <div style="padding: 1px 5px;">
            <mat-icon class="clickable-icon" aria-hidden="false" matTooltip="Show code" (click)="onGetCode(); $event.stopPropagation();">code</mat-icon>
            <!-- Implement ONNX later -->
            <mat-icon class="clickable-icon" aria-hidden="false" matTooltip="Export ONNX model" style="display: none;"
                (click)="onGetModel(); $event.stopPropagation();">get_app</mat-icon>
          </div>
        </div>
        <div class="augmentation-container" style="position: relative;">
          <div *ngIf="!isDisplayingCode" class="augmentation-list-container">
            <kornia-augmentation-list
              style="flex: 1 1 auto; overflow-y: auto; height: 100px;"
              (augmentationChanged)="onAugmentationChanged($event)"
              [augmentationData]="augmentationList"></kornia-augmentation-list>
          </div>
          <div *ngIf="isDisplayingCode" class="coding-block">
            {{ codes }}
          </div>
          <kornia-action-area
            [disabled]="(augmentationList.length == 0) || !image || in_computing"
            [operationData]="augmentationData"></kornia-action-area>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>