<div cdkDropList #mylist class="augmentation-list" (cdkDropListDropped)="drop($event)">
  <kornia-augmentation-item
    class="augmentation-box"
    *ngFor="let item of augmentationList; let i = index;"
    cdkDrag
    (formUpdated)="onFormUpdated($event, i)"
    (formDeleted)="onFormDeleted($event, i)"
    [item]="item"></kornia-augmentation-item>
  <div style="display: flex; justify-content: space-between; margin: auto; padding: 15px;">
    <div style="display: flex; justify-content: center; align-items: center;">
      <!-- Disable this for now -->
      <div style="opacity: 0;">
        <mat-slide-toggle color="primary" [(ngModel)]="isDebugMode"></mat-slide-toggle>
        <span>Debug Mode</span>
      </div>
      <!-- Disable above -->
    </div>
    <button mat-fab color="primary" (click)="addNewAugmentation()">
      <mat-icon>add</mat-icon>
    </button>
    <ng-container *ngIf="!isDebugMode">
      <button mat-fab color="primary" (click)="runAll()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </ng-container>
    <div *ngIf="isDebugMode">
      <button mat-fab color="primary" (click)="runOneStep()">
        <mat-icon>skip_next</mat-icon>
      </button>
      <button mat-fab color="primary" (click)="clearSteps()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
</div>