:host {
    display: block;
    width: 48px;
}

.icon-radio-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-radio-button .mat-radio-container {
    width: 0;
}
::ng-deep .mat-radio-container .mat-radio-outer-circle,
::ng-deep .mat-radio-container .mat-radio-inner-circle,
::ng-deep .mat-radio-container input,
::ng-deep .mat-radio-container input {
    border: none;
    width: 0;
}

::ng-deep .mat-radio-label {
    width: 100%;
}

::ng-deep .mat-radio-label-content {
    width: 100%;
    height: 48px;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid #555;
    padding: 0 !important;
}

::ng-deep .mat-radio-button .mat-radio-checked {
    background-color: #555;
}
