<mat-accordion style="width: 100%;">
  <mat-expansion-panel (opened)="onOpened()" (closed)="onClosed()">
    <mat-expansion-panel-header style="height: auto; color:antiquewhite">
      <mat-panel-title style="width: 100%; min-height: 50px;">
        <div *ngIf="!panel_opened">
          <p>{{ item.name }}</p>
          <mat-panel-description *ngIf="!panel_opened && show_details">{{ fields.kwargs | json }}</mat-panel-description>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <kornia-auto-form
      style="padding-top: 10px;"
      [defaultAugmentation]="item.name"
      (augmentationSelected)="item.name = $event"
      (formUpdated)="onFormUpdated($event);"></kornia-auto-form>
    <button style="float: right;" mat-button color="warn" (click)="onRemove(); $event.stopPropagation();">Remove</button>
  </mat-expansion-panel>
</mat-accordion>