<form [formGroup]="form">
  <div *ngIf="operation?.kwargs" style="display: block;">
    <div style="display: flex; justify-content: space-between; min-width: 300px;">
      <formly-form [model]="model" [fields]="fields_left" [form]="form_left" (modelChange)="onFormControlUpdated(model)"></formly-form>
      <div style="height: 100%; padding: 3px;"></div>
      <formly-form [model]="model" [fields]="fields_right" [form]="form_right" (modelChange)="onFormControlUpdated(model)"></formly-form>
    </div>
  </div>
</form>
