.sidebar-container {
  max-width: 550px;
  height: 100%;
  border: 1px solid #555;
  margin: 0;
}

::ng-deep .mat-drawer-content {
  display: flex !important;
}

.icon-sidebar-container {
  flex-grow: 1;
  min-width: 64px;
  height: 100%;
  border-right: 1px solid #555;
}

.expand-sidebar-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.clickable-icon:hover {
  cursor: pointer;
}

.coding-block {
  background-color: #555;
  white-space: pre-wrap;
  padding: 10px;
  border: 2px dotted #555;
  border-radius: 10px;
}

.augmentation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.augmentation-list-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}