<mat-drawer-container class="sidebar-container">
  <kornia-icon-side-bar class="icon-sidebar-container" [defaultItem]="augmentationListName" (itemChanged)="onItemChanged($event)"></kornia-icon-side-bar>
  <div class="expand-sidebar-container" *ngIf="!hidden">
    <div style="flex-grow: 1;">
      <div style="display: flex; justify-content: space-between;">
        <div></div>
        <div style="padding: 1px 5px;">
          <mat-icon aria-hidden="false" matTooltip="Show code" (click)="onGetCode(); $event.stopPropagation();">code</mat-icon>
          <mat-icon aria-hidden="false" matTooltip="Export ONNX model" style="display: none;"
              (click)="onGetModel(); $event.stopPropagation();">get_app</mat-icon>
        </div>
      </div>
      <kornia-augmentation-list
        style="overflow: hidden; display: block;"
        [listName]="augmentationListName"
        [style.height]="isDisplayingCode ? '1px' : 'auto'"
        [style.visibility]="isDisplayingCode ? 'hidden' : 'visible'"></kornia-augmentation-list>
      <div
        style="overflow: hidden; display: block;"
        [style.height]="isDisplayingCode ? 'auto' : '1px'"
        [style.visibility]="isDisplayingCode ? 'visible' : 'hidden'"
        class="coding-block">
        {{ codes }}
      </div>
    </div>
  </div>
</mat-drawer-container>