:host {
    display: block;
}

.ngx-dropzone-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255,255,255,0);
    opacity: 0;
}

.ngx-dropzone-preview {
    width: 100%;
    height: 100%;
    position: absolute;
}

.delete-btn {
    float: right;
    color: #c2185b;
}

.ngx-dropzone-mask:hover {
    background-color: rgba(255,255,255,0.9);
    opacity: 1;
}

.image-text {
    font-size: x-large;
    text-align: center;
}