<div cdkDropList #mylist class="example-list" (cdkDropListDropped)="drop($event)">
  <kornia-augmentation-item
    class="example-box"
    *ngFor="let item of augmentationList; let i = index;"
    cdkDrag
    (formUpdated)="onFormUpdated($event, i)"
    [item]="item">xxxxxx</kornia-augmentation-item>
  <div style="display: flex; justify-content: space-between; margin: auto;">
    <div style="display: flex; justify-content: center; align-items: center;">
      <div>
        <mat-slide-toggle color="primary" [(ngModel)]="isDebugMode"></mat-slide-toggle>
        <p>Debug Mode</p>
      </div>
    </div>
    <button mat-fab color="primary" (click)="addNewAugmentation()">
      <mat-icon>add</mat-icon>
    </button>
    <ng-container *ngIf="!isDebugMode">
      <button mat-fab color="primary" (click)="addNewAugmentation()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="isDebugMode">
      <button mat-fab color="primary" (click)="addNewAugmentation()">
        <mat-icon>skip_next</mat-icon>
      </button>
    </ng-container>
  </div>
</div>